<nav class="navbar navbar-light bg-faded">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Short Links</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Blog Stats</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Blog Upload</a>
        </li>
    </ul>
</nav>
